/**
 * Style for UWaterloo Library Online Reference Shelf module
 * Written by Lathangi Ganesh Jan 12, 2018
 */

.highlight-search-word {
  background-color: #ffea30;
}

.breadcrumb-cur-title {
  padding: 0;
  text-decoration: none;
  font-size: .79012rem;
  font-family: Typ1451-Medium,verdana,sans-serif;
}

.li-refshelf {
  list-style:none;
}
